{{>navigation-bar}}

<link rel="stylesheet" href="/css/login.css">

<body>
    <div class="login-page">
        <div class="form">
            <h6>Create Event</h6>
            <form class="invite-form" action="/" method="post">
                <input type="text" placeholder="Event Title" name="title" class="required"/>
                <input type="textarea" placeholder="Event Detail" name="detail"/>

                <button type="submit" id="postBtn"> Next</button>
            </form>
        </div>
        
    </div>

    <script src="/js/event.js"></script>
</body>