{{>login-nav-bar}}

<link rel="stylesheet" href="/css/login.css">

<div class="login-page">
    <div class="form">
        <h6>Create Event</h6>
        <form class="invite-form" action="/addevent" method="post">
            <input type="text" placeholder="Event Title" name="title"/>
            <input type="textarea" placeholder="Event Detail" name="detail"/>

        <button type="submit">Next</button>
        </form>
    </div>
    
</div>
