{{>navigation-bar}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/material_blue.css">
<link rel="stylesheet" href="/css/date.css">

<body>
    <div class="container">
        <button id="continue" class="btn btn-primary" type="button" disabled>Continue</button>
        <input type="text" id="basicDate" placeholder="Please select Date Time" data-input>
        <ul class="nav d-flex d-inline-flex selected-list">
		</ul>
        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
    <script src="/js/date.js"></script>
</body>