{{>navigation-bar}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/material_blue.css">
<link rel="stylesheet" href="/css/date.css">

<body>
        <input type="text" id="basicDate" placeholder="Please select Date Time" data-input>
        <button id="continue" disabled>Continue</button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
    <script src="/js/date.js"></script>
</body>