 <link rel="stylesheet" href="/css/home.css">

{{>navigation-bar}}

<div class="myevents container">
    
    <div class="event-page row">

        <div class="sidebar col-lg-5">
            <div id="event-list">  
            {{!-- event --}}
            </div>     

            <div id="invitee-list" class="event-box">  
                <h5>Participants</h5>  
                {{!-- invitee --}}
            </div>      
                
        </div>

        <div class="event-summary col-lg-7">
            <div id="date-list" class="event-box"> 
                <h5><i class="far fa-calendar"></i>  Dates</h5> 
                {{!-- date option --}}                
            </div>

            <div id="place-list" class="event-box">   
                <h5><i class="fas fa-map-marker-alt"></i>  Places</h5>  

                 {{!-- place option --}}                     
            </div>

        </div>    
    </div>
</div>

    <script src="/js/eventpage.js"></script>