 <link rel="stylesheet" href="/css/home.css">

{{>navigation-bar}}
<body>
<div class="myevents container">
    <h5>My Events</h5>

    <div class="event-page row">

        <div class="sidebar col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="all" name="status" value="All" checked>
                <label class="form-check-label" for="all">
                    All
                </label>            
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" id="pending" name="status" value="Pending">
                <label class="form-check-label" for="pending">
                    Pending
                </label>            
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="confirmed" name="status" value="Confirmed">
                <label class="form-check-label" for="confirmed">
                    Confirmed
                </label>            
            </div>
           
        </div>

        <div class="event-summary col-md-8">

            <div id="event-list">               
            </div>   
        </div>    
    </div>
</div>

    <script src="/js/event.js"></script>
</body>
