{{>navigation-bar}}

<link rel="stylesheet" href="/css/invite.css">
<script type='text/javascript' src="/js/invite.js"></script>

<div class="login-page">

  <div class="form">
    <h6>Invite</h6>
        <form id="invite-form" method="post">
            <input type="email" placeholder="Email" name="email"/> 
            <button type="submit" id="invite">Add</button>
        </form>

        <div id="email-list">
        </div>

        <button type="submit" id="sendBtn">Send Event</button>
  </div>

</div>

<script src="/js/invite.js"></script>
