{{>login-nav-bar}}

<link rel="stylesheet" href="/css/invite.css">
<script type='text/javascript' src="/js/invite.js"></script>

<div class="login-page">

  <div class="form">
    <h6>Invite</h6>
        <form id="invite-form" method="post">
            <input type="email" placeholder="Email" name="email"/>
            <button type="submit">Add</button>
        </form>

        <div id="added-email">
        </div>

        <button type="submit">Send Event</button>
  </div>

</div>
