{{>login-nav-bar}}

<link rel="stylesheet" href="/css/login.css">

<div class="login-page">

  <div class="form">
    <h6>Login</h6>
    <form class="register-form" action="/signup" method="post">
      <input type="text" placeholder="name" name="name"/>
      <input type="email" placeholder="email address" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button type="submit">create</button>
      <p class="message">Already registered?
        <a href="#" id="signin">Sign In</a>
      </p>
    </form>
    <form class="login-form" action="/login" method="post">
      <input type="email" placeholder="email" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button type="submit">login</button>
      <p class="message">Not registered?
        <a href="#" id="create">Create an account</a>
      </p>
    </form>
  </div>
</div>

  <div id="error-msg">
  </div>

<script type='text/javascript' src="js/login.js"></script>