<link rel="stylesheet" href="/css/place.css"> {{>navigation-bar}}


<body>
	<div class="container">

		<div class="row col-sm-12  d-flex d-inline-flex justify-content-between top-button-row">
			<button type="button" class="btn btn-primary list-button">Selected list</button>
			<button type="button" class="btn btn-primary continue">Continue</button>
		</div>

		<ul class="nav d-flex d-inline-flex selected-list listoff">
			<li class="list-group-item">No restaurant Selected
			</li>
		</ul>


		<div class="row" id="search">
			<div class="form-group col-xs-9">
				<input class="form-control" type="text" placeholder="Search" />
			</div>
			<div class="form-group col-xs-3">
				<button class="btn btn-block btn-primary searchButton" disabled>Search</button>
			</div>
		</div>
		<div class="row" id="filter">
			<form>
				<div class="form-group col-sm-4 col-xs-6">
					<select data-filter="district" class="filter-district filter form-control">
						<option value="">Select District</option>
						<option class="filter" value="3003">New Territories</option>
						<option class="filter" value="Kowloon">kowloon</option>
						<option class="filter" value="1022">Hong Kong Island</option>
						<option class="filter" value="1005">Central and Western</option>
						<option class="filter" value="1009">Eastern</option>
						<option class="filter" value="1012">Southern</option>
						<option class="filter" value="1022">Wan Chai</option>
						<option class="filter" value="2019">Sham Shui Po</option>
						<option class="filter" value="2001">Kowloon City</option>
						<option class="filter" value="2026">Kwun Tong</option>
						<option class="filter" value="2020">Wong Tai Sin</option>
						<option class="filter" value="2010">Yau Tsim Mong</option>
						<option class="filter" value="4001">Islands</option>
						<option class="filter" value="3019">Kwai Tsing</option>
						<option class="filter" value="3001">North</option>
						<option class="filter" value="3006">Sai Kung</option>
						<option class="filter" value="3007">Sha Tin</option>
						<option class="filter" value="3002">Tai Po</option>
						<option class="filter" value="3018">Tsuen Wan</option>
						<option class="filter" value="3005">Tuen Mun</option>
						<option class="filter" value="3003">Yuen Long</option>


					</select>
				</div>
				<div class="form-group col-sm-4 col-xs-6">
					<select data-filter="cuisine" class="filter-cuisine filter form-control">
						<option class="filter" value="">Select Cusine</option>
						<option class="filter" value="Hong Kong Style">Hong Kong Style</option>
						<option class="filter" value="Guangdong">Guangdong</option>
						<option class="filter" value="Japanese">Japanese</option>
						<option class="filter" value="American">American</option>
						<option class="filter" value="International">International</option>
						<option class="filter" value="Italian">Italian</option>
						<option class="filter" value="Western">Western</option>
						<option class="filter" value="Thai">Thai</option>
						<option class="filter" value="Taiwan">Taiwan</option>
						<option class="filter" value="Indian">Indian</option>
						<option class="filter" value="Chiu Chow">Chiu Chow</option>
						<option class="filter" value="Yunnan">Yunnan</option>
						<option class="filter" value="Vietnamese">Vietnamese</option>
						<option class="filter" value="Indian">Indian</option>
						<option class="filter" value="French">French</option>
						<option class="filter" value="Shanghai">Shanghai</option>
						<option class="filter" value="Korean">Korean</option>
						<option class="filter" value="Mediterranean">Mediterranean</option>
						<option class="filter" value="Beijing">Beijing</option>
						<option class="filter" value="Sichuan">Sichuan</option>
						<option class="filter" value="Jingchuanhu">Jingchuanhu</option>

					</select>
				</div>
				<div class="form-group col-sm-4 col-xs-6">
					<select data-filter="price" class="filter-price filter form-control">
						<option class="filter" value="">Select Price Range</option>
						<option class="filter" value="Below $50">Below $50</option>
						<option class="filter" value="$51-100">$51-100</option>
						<option class="filter" value="$101-200">$101-200</option>
						<option class="filter" value="$201-400">$201-400</option>
						<option class="filter" value="$401-800">$401-800</option>
						<option class="filter" value="Above $801">Above $801</option>
					</select>
				</div>
			</form>
		</div>
		<div class="row" id="products">

		</div>
	</div>
	<script src="/js/place-search-filter.js"></script>
	<script src="/js/place-functions.js"></script>
</body>
<div class="loader"></div>