<link rel="stylesheet" href="/css/settings.css">

{{>navigation-bar}}

<div class="settings-page">
  <div class="form">
    <h6>Account Settings</h6>
    <form class="settings-form" action="/settings" method="post">
      <input type="text" placeholder="new name" name="name"/>
      <input type="password" placeholder="new password" name="password"/>
      <input type="text" placeholder="new email address" name="email"/>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
