<link rel="stylesheet" href="/css/settings.css">

{{>navigation-bar}}

<div class="login-page">
  <div class="form">
    <h6>Account Settings</h6>
    <form class="register-form" action="/signup" method="post">
      <input type="text" placeholder="name" name="name"/>
      <input type="password" placeholder="password" name="password"/>
      <input type="text" placeholder="email address" name="email"/>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
