.myevents h5 {
    padding: 20px 0;
}

.form-check {
    padding-bottom: 10px;
}

.event-text ul {
    list-style: none;
    padding-top: 6px;
    padding-left: 0;
}

.event-text li {
    padding-bottom: 4px;
}

.event-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #b9b9b9;
    background-color: #fff;
}

.event-item a {
    text-decoration: none;
}

.event-item a:hover, a:link, a:visited{
    color: black;
    text-decoration: none;
}

/* Event Details */
.event-box {
    margin-top: 16px;
    margin-bottom: 20px;
    padding: 5px 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #b9b9b9;
    background-color: #fff;
}

.options {
    border-radius: 5px;
    background-color: rgb(228, 241, 250);
}

.options ul {
    list-style: none;
    padding: 10px 20px;
}

.btn {
    margin: 2px;
    border-radius: 20px;
}

.event-box h4 {
    padding: 16px;
}